@import "vars.styl"
@import "mixins.styl"
@import "basic.styl"
@import "helpers.styl"

body
  height 100vh
  display flex
  flex-direction column

.app-container
  position relative
  margin 0 auto
  width 100%
  max-width 960px

.app-header
  background #fff
  border-bottom 1px solid $border-color
  color $header-color = #909090
  z-index 250
  flex-shrink 0

  .app-container
    display flex
    align-items center

  .logo
    margin-right 24px

    &__img
      height 40px
      width auto

  .app-nav
    flex 1
    height $nav-height = 60px
    line-height $nav-height

    &__item
      display inline-block

      &--active .app-nav__link
        //color $primary
        color darken($header-color, 50%)
        font-weight 600

    &__link
      display inline-block
      padding 0 20px
      font-size 16px

.app-main
  flex-grow 1
  display flex
  align-items: flex-start
  margin-top 20px

.article-list-wrap
.article-single-wrap
  flex 1

.article-list
  background #ffffff

.article
  display block
  padding 18px 24px

  &:not(:last-child)
    border-bottom: 1px solid rgba(178, 186, 194, .15)

  &:hover
    background: rgba(0, 0, 0, .01)

  &.is-single
    background #ffffff
    border-bottom none

  &--recent
    padding: 10px 16px

    .article__title
      font-size 14px
      font-weight: inherit
      display block

  &__title
    color #2e3135
    font-size 16px
    font-weight: 600
    line-height: 1.2

  // fixme 首页时作为链接可以加 visited
  //&:visited
  //  color #909090

  &__metas
    margin-top 6px
    color #b2bac2

  &__meta
    display inline-block

    &:not(:last-child):after
      content: "·"
      color: rgb(178, 186, 194)
      margin: 0 5px

  &__brief
    color lighten($text-color, 20%)
    margin 10px 0
    //multiLineEllipsis()
    overflow: hidden
    display: -webkit-box
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical

  &__content
    margin 10px 0

.pager
  margin-top 10px
  clearfix()

  svg
    vertical-align text-bottom

  &__previous
    float left

  &__next
    float right


//.read-more-link
//  color $primary
//  font-weight 600

.sidebar
  width 240px
  margin-left 20px
  flex-shrink 0

.card
  background-color: #ffffff
  border-radius: 2px
  margin-bottom: 20px
  box-shadow: $shadow

  &__header
    height: 45px
    line-height: 45px
    padding-left: 16px
    padding-right 16px
    font-size 14px
    border-bottom 1px solid #f6f6f6

//&__content

.tags
  padding: 16px 16px 5px

  .tag
    display inline-block
    height: 30px
    line-height: 30px
    margin-right: 12px
    margin-bottom: 12px
    background-color: #f3f6f3
    border-radius: 30px
    padding-left: 22px
    padding-right: 22px
    color inherit
    border 1px solid transparent

    &:hover
      color: $primary
      border-color $primary

.app-footer
  padding 40px 0 20px
  flex-shrink 0

.copyright
  color #909090
  text-align center
  font-size 13px

  li
    display inline-block
    margin-right 10px

.introduction
  padding: 16px

//text-align center

.social
  .social__item
    width $size= 28px
    height $size
    display inline-block

    svg
      fill: currentColor;
