html {
  font-size: 14px;
  font-family: -apple-system, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #333;
  background-color: #f4f5f5;
  line-height: 1.5;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #909090;
}
a:hover {
  color: #007fff;
}
p {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
.is-pulled-right {
  float: right;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.app-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}
.app-header {
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
  color: #909090;
  z-index: 250;
  flex-shrink: 0;
}
.app-header .app-container {
  display: flex;
  align-items: center;
}
.app-header .logo {
  margin-right: 24px;
}
.app-header .logo__img {
  height: 40px;
  width: auto;
}
.app-header .app-nav {
  flex: 1;
  height: 60px;
  line-height: 60px;
}
.app-header .app-nav__item {
  display: inline-block;
}
.app-header .app-nav__item--active .app-nav__link {
  color: #484848;
  font-weight: 600;
}
.app-header .app-nav__link {
  display: inline-block;
  padding: 0 20px;
  font-size: 16px;
}
.app-main {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}
.article-list-wrap,
.article-single-wrap {
  flex: 1;
}
.article-list {
  background: #fff;
}
.article {
  display: block;
  padding: 18px 24px;
}
.article:not(:last-child) {
  border-bottom: 1px solid rgba(178,186,194,0.15);
}
.article:hover {
  background: rgba(0,0,0,0.01);
}
.article.is-single {
  background: #fff;
  border-bottom: none;
}
.article--recent {
  padding: 10px 16px;
}
.article--recent .article__title {
  font-size: 14px;
  font-weight: inherit;
  display: block;
}
.article__title {
  color: #2e3135;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
}
.article__metas {
  margin-top: 6px;
  color: #b2bac2;
}
.article__meta {
  display: inline-block;
}
.article__meta:not(:last-child):after {
  content: "·";
  color: #b2bac2;
  margin: 0 5px;
}
.article__brief {
  color: #5c5c5c;
  margin: 10px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.article__content {
  margin: 10px 0;
}
.pager {
  margin-top: 10px;
}
.pager:after {
  clear: both;
  content: " ";
  display: table;
}
.pager svg {
  vertical-align: text-bottom;
}
.pager__previous {
  float: left;
}
.pager__next {
  float: right;
}
.sidebar {
  width: 240px;
  margin-left: 20px;
  flex-shrink: 0;
}
.card {
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
}
.card__header {
  height: 45px;
  line-height: 45px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  border-bottom: 1px solid #f6f6f6;
}
.tags {
  padding: 16px 16px 5px;
}
.tags .tag {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-right: 12px;
  margin-bottom: 12px;
  background-color: #f3f6f3;
  border-radius: 30px;
  padding-left: 22px;
  padding-right: 22px;
  color: inherit;
  border: 1px solid transparent;
}
.tags .tag:hover {
  color: #007fff;
  border-color: #007fff;
}
.app-footer {
  padding: 40px 0 20px;
  flex-shrink: 0;
}
.copyright {
  color: #909090;
  text-align: center;
  font-size: 13px;
}
.copyright li {
  display: inline-block;
  margin-right: 10px;
}
.introduction {
  padding: 16px;
}
.social .social__item {
  width: 28px;
  height: 28px;
  display: inline-block;
}
.social .social__item svg {
  fill: currentColor;
}
