html
  font-size: 14px
  font-family: -apple-system, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Arial, sans-serif
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  color: $text-color
  background-color: #f4f5f5
  line-height: 1.5

ul
  margin 0
  padding 0

li
  list-style none

a
  text-decoration none
  cursor pointer
  color: #909090

  &:hover
    color $primary

p
  margin 0
  padding 0

img
  max-width: 100%
