<div class="article-list-wrap">
  <div class="article-list">
    {% for p in posts %}
    <a class="article" href="{{ p.url }}">
      <div class="article__title">
        {{ p.title }}
      </div>
      <ul class="article__metas">
        <li class="article__meta">
          {{ p.date }}
        </li>
        {% for cat in p.cats %}
        <li class="article__meta">
          {{ cat.name }}
        </li>
        {% /for %}
      </ul>
      <p class="article__brief">
        {{ p.desContentTextOnly }}
      </p>
    </a>
    {% /for %}
  </div>

  <div class="pager">
    {% if prevPageUrl.length %}
    <a class="pager__previous" href="{{ prevPageUrl }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
           class="feather feather-arrow-left">
        <line x1="19" y1="12" x2="5" y2="12"></line>
        <polyline points="12 19 5 12 12 5"></polyline>
      </svg>
      <span>Prev Page</span>
    </a>
    {% /if %}
    {% if nextPageUrl.length %}
    <a class="pager__next" href="{{ nextPageUrl }}">
      <span>Next Page</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
           class="feather feather-arrow-right">
        <line x1="5" y1="12" x2="19" y2="12"></line>
        <polyline points="12 5 19 12 12 19"></polyline>
      </svg>
    </a>
    {% /if %}
  </div>
</div>
