<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>
    {% if pageTitle.length %}
    {{ pageTitle }}
    {% else %}
    {{ siteName }}
    {% /if %}
  </title>
  {% if post.ext_seo_keywords.length %}
  <meta name="keywords" content="{{post.ext_seo_keywords}}"/>
  {% /if %}
  {% if post.ext_seo_des.length %}
  <meta name="description" content="{{post.ext_seo_des}}"/>
  {% /if %}
  {% if ext_ga_code.length %}
  {{ ext_ga_code }}
  {% /if %}
  <link href="atom.xml" rel="alternate" title="{{ siteName }}" type="application/atom+xml">
  <link rel="icon" href="asset/img/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="asset/css/normalize.min.css">
  <link rel="stylesheet" href="asset/prism/prism.css">
  <link rel="stylesheet" href="asset/tocbot/tocbot.css">
  <link rel="stylesheet" href="asset/css/app.css">
</head>
<body>

<div class="app-header">
  <header class="app-container">
    <a href="/" class="logo">
      <img src="asset/img/logo.png" alt="logo" class="logo__img">
    </a>
    <nav class="app-nav">
      <ul>
        <li class="app-nav__item app-nav__item--active">
          <a class="app-nav__link" href="index.html">Home</a>
        </li>
        <li class="app-nav__item">
          <a class="app-nav__link" href="archives.html">Archive</a>
        </li>
        <li class="app-nav__item">
          <a class="app-nav__link" href="about.html">About</a>
        </li>
      </ul>
    </nav>
  </header>
</div>

<main class="app-container app-main">
